/processing/OmicronAPI/bin/omicronAPI/*.class

/processing/OmicronAPI/bin/hypermedia/net/*.class
/processing/OmicronAPI/bin/omicronTester/*.class
/processing/OmicronAPI/bin/omicronTester/*.class
/processing/OmicronAPI/bin/omicronTester/*.class
/processing/OmicronAPI/bin/omicronUI/*.class

Thumbs.db
/build
